/* Resume */

#resume {
  .title {
    .pdf {
      margin-bottom: 1em;
    }
  }

  .link-to {
    position: relative;
    top: -4em;
  }

  .link-container h4 {
    text-decoration: none;
    border-bottom: none;
    padding-right: 0.5em;
    display: inline-flex;
    a {
      margin-right: 0.5em;
    }
  }

  .education {
    .title {
      font-size: 1.2em;
      text-align: center;
    }
  }

  .publication {
    padding-top: 1em;
    .title {
      font-size: 1.2em;
      text-align: center;
    }
  }

  .publication-container {
    font-size: 1em;
    display: flex;
    .publication-id {
      width: 3em;
    }
    .publication-content {
      margin-bottom: 1em;
      p {
        margin-bottom: 0.1em;
        line-height: 1.6em;
      }
    }
    .publication-title {
      font-style: italic;
      // color: black;
      letter-spacing: 0em;
      text-transform: none;
      margin-bottom: 0.1em;
    }
  }

  .experience {
    padding-top: 1em;
    .title {
      font-size: 1.2em;
      text-align: center;
    }
    .job {
      p {
        margin: 0;
      }
    }
    .awards {
      li {
        p {
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .jobs-container {
    font-size: 1em;
    margin-bottom: 2em;
    .points {
      margin-bottom: 0.8em;
      li {
        line-height: 1.5;
        font-size: 1em;
        margin-bottom: 0.2em;
      }
    }
  }

  .courses {
    padding-top: 1em;
    .title {
      font-size: 1.2em;
      text-align: center;
    }
    .course-list {
      text-align: center;

      h4 {
        white-space: nowrap;
      }
    }
  }

  .skills {
    margin-top: 2em;
    .title {
      font-size: 1.2em;
      text-align: center;
      p {
        font-size: 0.9em;
      }
    }
  }

  .summary {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    // color:black;
  }

  .references {
    margin: 2em 0;
    .title {
      text-align: center;
    }
  }
}

.daterange {
  margin-bottom: 0.2em;
}

.degree-container {
  h4 {
    font-weight: normal;
  }

  .degree {
    margin-bottom: 0.3em;
    letter-spacing: 0.1em;
    font-size: 1em;
  }

  .school {
    padding-top: 0.3em;
    margin-bottom: 1em;
  }
}

.courses .course-number {
  display: inline;
  font-size: 0.8em;
}
.courses .course-name {
  display: inline;
  // font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2;
  // margin-top: -1em;
  // text-transform: uppercase;
}

.courses ul li {
  display: inline;
}

.course-dot {
  display: inline;
  // display: none;
}

@include breakpoint(small) {
  .course-dot {
    display: none;
  }
  .course-container a {
    display: block;
  }
}
